.leaflet-control-tracklist {
    position: relative;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    padding: 8px 8px 8px 8px;
    width: 250px;
}

.leaflet-control-tracklist .hint {
    color: #999;
    font-size: 10px;
    padding-bottom: 2px;
}

.leaflet-control-tracklist .inputs-row {
    white-space: nowrap;
}

.leaflet-control-tracklist .button{
    display: inline-block;
    height: 26px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 26px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.leaflet-control-tracklist .input-url {
    display: inline-block;
    width: 180px;
    height: 26px;
    line-height: 26px;
    padding: 0 3px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: -1px;
}

.leaflet-control-tracklist .open-file {
    background-image: url("images/folder_open.png");
}

.leaflet-control-tracklist .download-url {
    background-image: url("images/arrow_bottom.png");
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.leaflet-control-tracklist .track-item {
    white-space: nowrap;
    margin-top: 4px;
}

.leaflet-control-tracklist .visibility-switch {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.leaflet-control-tracklist .color-sample {
    display: inline-block;
    width: 16px;
    height: 4px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 2px;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-color: white;
    border-style: solid;
}

.leaflet-control-tracklist .track-name {
    font-size: 11px;
    display: inline-block;
    color: #333;
    border-bottom: 1px dashed #999;
    cursor: pointer;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    vertical-align: middle;    
    margin-left: 2px;
}

.leaflet-control-tracklist .delete-button {
    display: block;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    float: right;
}

.leaflet-control-tracklist .button-length {
    font-size: 9px;
    line-height: 18px;
    color: #aaa;
    display: block;
    float: right;
    border-radius: 4px;
    border: 1px solid #aaa;
    margin: 0 4px;
    padding: 0 3px;
    cursor: pointer;
    white-space: nowrap;
}

.leaflet-control-tracklist .ticks-enabled {
    color: #333;
    border-color: #333;
}