.custom-layers-dialog-container {
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -5cm;
    margin-top: 2cm;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    padding: 3mm 3mm;
    color: #333;
}

.custom-layers-dialog-container textarea,
.custom-layers-dialog-container input,
.custom-layers-dialog-container select {
    padding: 0.5mm 5px;
    margin: 1mm 1mm 1mm 0;
    border-radius: 3px;
    border: 1px solid #aaa;
    vertical-align: middle;
    box-sizing: border-box;
}

.custom-layers-dialog-container .button {
    display: inline-block;
    height: 26px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 6px;
    padding: 0 1em;
    line-height: 26px;
    font-weight: bold;
    color: #333;
}

.custom-layers-dialog-container .button:hover {
    background-color: #f4f4f4;
}

.custom-layer-edit-button {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("pencil.png");
    vertical-align: text-bottom;
    margin-left: 2px;
    cursor: pointer;
}

.custom-layers-add-button {
    width: 16px;
    height: 16px;
    background-image: url("plus.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 6px;
    margin-right: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-layers-add-button:hover {
    background-color: #f4f4f4;
}

.custom-layers-dialog-container a {
    color: #999;
}