.elevation-profile-container {
    background-color: white;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    z-index: 2000;
}

.elevation-profile-properties {
    height: 100%;
    float: left;
    width: 200px;
    border-right: 1px solid #dddddd;
}

.elevation-profile-graph {
    height: 100%;
    width: auto;
    overflow: hidden;
}

.graphContainer {
    margin: 0;
    padding: 0;
}