body, html{
 height: 100%;
}

body {
    overflow:hidden;
    margin: 0;
}

#map {
    height: 100%;
 }

.leaflet-mapper-button-ruler {
    width: 18px;
    height: 26px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('images/Very-Basic-Ruler-icon.png');
}

.leaflet-line-drawing  .paper-sheet-label {
    pointer-events: none;
}

#street-view {
    width: 50%;
    height: 100%;
    float: left;
    display: none;
}
